<%- include("templates/header") %>
<!-- A portion of this page was sourced from an open source bootstrap resource  -->
<br>
<div class="signup-login-page-container" style="margin:0 10px">
    <main style="max-width: 504px;" class="form-signin py-3 px-3 w-100 m-auto signup-login-form-container" >
    <div class="container d-flex justify-content-center" >
        <div class="row g-3">
            <form style="display:flex; flex-direction: column;align-items: center;"
            class="my-form" action="submit-payment" method="post">
                <div class="col-md-6" style="width:100%">
                    <span>Payment Method</span>
                    <div class="">
                        <div class="" id="accordionExample">
                            <div class="card">
                                <div class="card-header p-0" id="headingTwo">
                                    <h2 class="mb-0">
                                        <a class="dynamic-link" href="/checkout?type=paypal"><button
                                                class="btn btn-light btn-block text-left collapsed p-3 rounded-0 border-bottom-custom"
                                                type="button" data-toggle="collapse" data-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                <div class="">
                                                    <span>Paypal</span>
                                                    <img src="https://i.imgur.com/7kQEsHU.png" width="30">
                                                </div>
                                            </button>
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse <% if(query.type==='paypal'){%> show <%} %>"
                                    aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <input type="email" name="paypalEmail" class="form-control"
                                            placeholder="Paypal email *" value="<%= remember ? paypalEmail : '' %>">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header p-0">
                                    <h2 class="mb-0">
                                        <a class="dynamic-link" href="/checkout?type=credit"><button
                                                class="btn btn-light btn-block text-left p-3 rounded-0" type="button"
                                                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <span>Credit card</span>
                                                    <div class="icons">
                                                        <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                                        <img src="https://i.imgur.com/W1vtnOV.png" width="30">
                                                        <img src="https://i.imgur.com/35tC99g.png" width="30">
                                                        <img src="https://i.imgur.com/2ISgYja.png" width="30">
                                                    </div>
                                                </div>
                                            </button>
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse <% if(query.type==='credit'){%> show <%} %>"
                                    aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body payment-card-body">
                                        <span class="font-weight-normal card-text">Card Number</span>
                                        <div class="input">
                                            <i class="fa fa-credit-card"></i>
                                            <input type="text" name="cardnumber" class="form-control"
                                                placeholder="0000 0000 0000 0000 *"
                                                value="<%= remember ? cardnumber : "" %>">
                                        </div>
                                        <div class="row mt-3 mb-3">
                                            <div class="col-md-6">
                                                <span class="font-weight-normal card-text">Expiry Date</span>
                                                <div class="input">
                                                    <i class="fa fa-calendar"></i>
                                                    <input type="text" name="expirydate" class="form-control"
                                                        placeholder="MM/YY *" value="<%= remember ? expirydate : "" %>">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal card-text">CVC/CVV</span>
                                                <div class="input">
                                                    <i class="fa fa-lock"></i>
                                                    <input type="text" name="cvv" class="form-control" placeholder="000 *"
                                                        value="<%= remember ? cvv : "" %>">
                                                </div>
                                            </div>
                                        </div>
                                        <span class="text-muted certificate-text"><i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" style="width:100%">
                    <div class="d-flex flex-column">
                        <span><small style="font-size:8pt">Station:</small> <i class="fa fa-caret-down"></i></span>
                    </div>
                    <div class="mt-1">
                        <input hidden name="stationID" id="stationID" value="">
                        <spa name="stationId" id="stationId" class="super-price" value=""></sup>
                            <span class="super-month"></span>
                    </div>
                </div>
                <div class="col-md-6" style="width:100%">
                    <span>Summary</span>
                    <div class="card">
                        <div class="d-flex justify-content-between p-3">
                            <div class="d-flex flex-column">
                                <span>Service <i class="fa fa-caret-down"></i></span>
                            </div>
                            <div class="mt-1">
                                <spa id="Selected-service" class="super-price"></sup>
                                    <span class="super-month"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between p-3">

                            <div class="d-flex flex-column">

                                <span>Subtotal <i class="fa fa-caret-down"></i></span>
                            </div>
                            <div class="mt-1">
                                <span id="Selected-price" class="super-price"></span>
                                <span class="super-month"></span>
                            </div>
                        </div>
                        <hr class="mt-0 line">
                        <div class="p-3">
                            <div class="d-flex justify-content-between mb-2">
                                <span>GST</span>
                                <span id="gst"></span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>PST</span>
                                <span id="pst"></span>
                            </div>
                        </div>
                        <hr class="mt-0 line">

                        <div class="d-flex justify-content-between p-3">
                            <input value="<%= remember ? address : "" %>" required type="text"  name="address" class="form-control" placeholder="Enter your address *">
                        </div>

                        
                        <div class="p-3 d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <span>Total</span>
                            </div>
                            <span id="total"></span>
                        </div>
                        
                        <div style="margin:3%" class="form-check form-switch">
                            <input name="remember" class="form-check-input"
                                   type="checkbox" id="flexSwitchCheckDefault"
                                   <%= remember ? 'checked' : '' %> >
                            <label class="form-check-label" for="flexSwitchCheckDefault">Remember Me</label>
                        </div>
                        <% if (query.type==='credit' ) { %>
                            <div class="p-3">
                                <button name="paymentType" type="submit" value="credit"
                                    class="btn btn-primary btn-block free-button">Checkout</button>
                                <div class="text-center">
                                    <a href="#"></a>
                                </div>
                            </div>
                            <% }else if(query.type==='paypal' ) {%>
                                <div class="p-3">
                                    <button name="paymentType" type="submit" value="paypal"
                                        class="btn btn-primary btn-block free-button">Checkout</button>
                                    <div class="text-center">
                                        <a href="#"></a>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="p-3">
                                        <div style="color:#038CB2" class="text-center">
                                            <b>Enter Payment Method to proceed</b>
                                        </div>
                                    </div>
                                    <% }%>
                    </div>
                </div>
            </form>
        </div>
    </div>

        </main>
      </div>
    <script src="/checkout.js"></script>
    <script>
        <% if (query.error==="emptypp") { %>
          alert('Please enter a valid email');
        <% } else if (query.error==="emptycc") {%>
            alert('Please fill out all fields');
        <% } %>
      </script>
<br>

    <%- include("templates/footer") %>