<%- include("templates/header") %>

<body>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var link = document.createElement("link");
      link.rel = "stylesheet";
      link.href = "/stations.css";
      document.head.appendChild(link);

      var link2 = document.createElement("link");
      link2.rel = "stylesheet";
      link2.href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";
      link2.integrity = "sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH";
      link2.crossOrigin = "anonymous";
      document.head.appendChild(link2);

      var link3 = document.createElement("link");
      link3.rel = "stylesheet";
      link3.href = "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0";
      document.head.appendChild(link3);
    });
  </script>
    <%- include("templates/svgs") %>
    
  
<br>
<header style="text-align: center;
margin-bottom: ;
margin-top: 1rem;
color: #003249;">
 <h1>Robot Stations for <%- JSON.stringify(currentUserName[0].username) %></h1>
 <p>You can Bookmark your stations here to have easy access to your favourite stations.</p>
 

 <p id="not-available" style="color: red;"> 
  Currently you don't have any bookmark to display.</p>
</header>

      <div style="display: flex;justify-content: center;">
        <h3 ></h3>
      </div>
      <!--The div element for the map -->
      
       
        <div class="stations-placeholder" id="stations-placeholder">
          
        </div>
      




      <!--
        TEMPLATE comp1800
      -->

      <template id="StationCardTemplate">
        <div class="card-style form-signin w-100 m-auto" style="overflow: hidden;">
            <div class="card-header">
              <img
                style="position: relative; bottom: 3px"
                src="/robot2.png"
                alt=""
              />
              <p style="display: inline; font-weight: 500; font-size: 25px">
                Station name: 
              </p> <span id="card-name" class="card-name"></span> 
              <span
                style="float: right; display: block;  transform: scale(1.5)"
                
              >
                <img style="width: 20px; font-weight: 500;" class="star-image" alt="">
              </span>
            </div>
            <hr style="color: rgba(0, 50, 73, 1)" />
            <div style="padding: 0 5px">
              <ul style="list-style-type: none">
                <li>
                  <img src="/maps-and-flags.png" style="width: 20px" alt="" />
                  <span id="card-address" class="card-address"
                    ></span
                  >
                </li>
                <li>
                  <img src="/robot3.png" style="width: 20px" alt="" />
                  <span>Robots Available:</span><span class="card-availability" id="card-availability"></span>
                </li>
                <li></li>
              </ul>
              <div class="container text-center">
                <div class="row row-cols-4">
                  <div class="col">
                    <a class="p-3 link-style"
                      ><span class="icon-container telephone-icon"
                        ><img href="/main" class="icon-size" id src="/call.png" alt="" />
                        <p >Call</p>
                      </span></a
                    >
                  </div>
                  <div class="col">
                    <a href="/main"  target="_blank" class="p-3 link-style"
                      ><span class="icon-container"
                        ><img class="icon-size"  src="/website.png" alt="" />
                        <p>Website</p>
                      </span></a
                    >
                  </div>
                  <div  class="col more-info">
                    <a class="p-3 link-style link-style"
                      ><span class="icon-container"
                        ><img class="icon-size" id src="/info.png" alt="" />
                        <p>More </p>
                      </span></a
                    >
                  </div>
                  <div class="col">
                    <a class="p-3 link-style select-button"
                      ><span
                        class="icon-container"
                        style="background-color: rgba(0, 50, 73, 0.9)"
                        ><img class="icon-size" src="/select.png" alt="" />
                        <p>Select</p>
                      </span></a
                    >
                  </div>
                </div>
                
                <form style="display: none;" action="/editBookmark" method="POST">
                  
                  <input type="text" class="id-placeholder" name="data" required><br><br>
                
                  
                  <button class="id-button" type="submit">Submit</button>
              </form>
              <form style="display: none;" action="/displayStation" method="POST">
               
                <input type="text" class="id-placeholder2" name="data" required><br><br>
                <input type="text" class="id-placeholder11" name="data2" required><br><br>
                
                <button class="id-button2" type="submit">Submit</button>
            </form>
              </div>
              
            </div>
            <footer class="footer-card " 
           
           
            >
              <img class="icon-size" id src="/info.png" alt="" style="position: relative; top:2px; width: 20px; height: 20px; margin-right: 2px;" />&nbsp;<p> You Can Select any Station and Purchase or add (if you are a business Owner) robots if you wish
                 </p>
         </footer>
          </div>
         
        </template>
      <script>
        const station = <%- JSON.stringify(stations) %>;
        console.log(station);
        

        const currentUser = <%- JSON.stringify(currentUserName) %>;
        console.log(currentUser);

        

        // Additional client-side scripts can go here
      </script>
      

      <script src="saved.js"></script>
      <%- include("templates/footer") %>
    </body>
  </body>
</html>
